.btn {
    display: inline-block;
    border: none;
    width: 136px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    text-decoration: none;
    color: $color-white;
    background: $color-primary;
    cursor: pointer;
    border-radius: 27px;
    font-size: $size-s;
    &:hover {
        background: darken($color-primary, 20%);
    }
}

.btn-red {
    width: 128px;
    height: 40px;
    line-height: 40px;
    font-size: $size-x;
    background: $color-red;
    &:hover {
        background: darken($color-red, 20%);
    }
}

.btn-price {
    width: 144px;
    height: 50px;
    font-size: $size-s;
    border: 1px solid $color-primary;
    border-radius: 27px;
    background: $color-white;
    color: $color-primary;
    &:hover,
    &.active {
        background: $color-primary;
        color: $color-white;
    }
}

.line {
    width: 100%;
    color: #DDDDDD;
    border-top: 1px solid #DDDDDD;
}