// ----------------------- background ----------------------- //
.bg {
    background-image: url('../public/banner.svg');
    background-repeat: no-repeat;
    background-position: right top;
    width: 100%;
    height: 559px;
    position: absolute;
    top: 0;
    z-index: -1;
    @include mobile {
        background-image: url('../public/banner_sm.svg');
        top: 90px;
        background-size: contain;
    }
}

.gray-bg {
    background-color: $color-gray-300;
    border-radius: 0 0 0 300px;
    width: 100%;
    height: 470px;
    z-index: -99;
    top: 0;
    position: absolute;
    @include mobile {
        height: 495px;
        top: 90px;
        border-radius: 0 0 0 50%;
    }
}

// ----------------------- direction ----------------------- //
.direction {
    display: flex;
    flex-direction: column;
    margin: 92px auto 280px;
    h2 {
        font-weight: bold;
        margin-bottom: 16px;
    }
    @include mobile {
        margin: 48px auto 100%;
    }
}

// ----------------------- project ----------------------- //
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 94px;
    text-align: center;
    .btn-wrap {
        display: flex;
        gap: 16px;
        margin: 48px auto 64px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .plan-wrap {
        display: flex;
        gap: 21px;
        text-align: center;
        .plan {
            border-radius: 12px;
            padding-bottom: 38px;
            &:hover {
                background: lighten($color-primary, 42%);
            }
            h4 {
                padding: 10px 17.5px;
                font-weight: bold;
            }
            p {
                padding: 32px 0;
            }
            .calc-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 21px;
                padding-left: 30px;
                padding-right: 30px;
                .equal {
                    font-size: 32px;
                }
                .user,
                .month-price {
                    width: 170px;
                    height: 108px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 12px;
                    background: $color-gray-100;
                }
                .user {
                    .user-title {
                        font-size: 12px;
                    }
                    .user-count {
                        color: $color-primary;
                        font-size: $size-b;
                        &::after {
                            content: '‰Ωç';
                            font-size: 12px;
                            margin-left: 8px;
                        }
                    }
                }
                .month-price {
                    .price-title {
                        font-size: 12px;
                    }
                    .price-count {
                        font-size: $size-b;
                        &::after {
                            content: 'TWD';
                            font-size: 12px;
                            margin-left: 8px;
                        }
                    }
                }
            }
            .feat-wrap {
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 32px 0 42px 30px;
                gap: 16px;
                font-size: $size-x;
                .feat {
                    &::before {
                        display: inline-block;
                        width: 20px;
                        height: 16px;
                        margin-right: 13px;
                        content: url("../public/icon_check.svg");
                    }
                }
            }
        }
    }
    @include pad {
        .btn-wrap {
            gap: 10px;
        }
        .plan-wrap {
            flex-direction: column;
        }
    }
    @include mobile {
        margin-bottom: 60px;
        .btn-wrap {
            gap: 6px;
        }
        .plan-wrap {
            gap: 24px;
            .plan {
                padding-bottom: 24px;
                h4 {
                    font-size: $size-xl;
                    padding: 16;
                }
                p {
                    padding: 24px 0;
                }
                .calc-wrap {
                    gap: 6px;
                    padding-left: 16px;
                    padding-right: 16px;
                    .equal {
                        font-size: 24px;
                    }
                    .user,
                    .month-price {
                        width: 140px;
                        height: 90px;
                        background: $color-gray-100;
                    }
                    .user {
                        .user-count {
                            font-size: $size-xxl;
                            &::after {
                                font-size: 12px;
                                margin-left: 4px;
                            }
                        }
                    }
                    .month-price {
                        .price-count {
                            font-size: $size-b;
                            &::after {
                                margin-left: 4px;
                            }
                        }
                    }
                }
                .feat-wrap {
                    padding: 27px 0 35px 16px;
                    font-size: $size-xx;
                    .feat {
                        &::before {
                            width: 16px;
                            height: 14px;
                            margin-right: 16px;
                        }
                    }
                }
            }
        }
    }
}

// ----------------------- question ----------------------- //
.question {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 100px;
    h3 {
        margin-bottom: 48px;
    }
    .question-wrap {
        width: 870px;
        text-align: left;
        border-radius: 12px;
        position: relative;
        &:hover {
            background: lighten($color-primary, 42%);
        }
        .problem {
            font-size: $size-s;
            padding: 16px 0 16px 32px;
        }
        .toggle-btn {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 19px;
            right: 32px;
            content: url('../public/icon_plus.svg');
            cursor: pointer;
        }
        .ans {
            font-size: $size-x;
            padding: 8px 0 16px 32px;
            line-height: 2;
        }
        &.active {
            .problem {
                font-weight: bold;
                color: $color-primary;
            }
            .toggle-btn {
                content: url('../public/icon_minus.svg');
            }
            .ans {
                color: $color-gray;
            }
        }
    }
    @include pad {
        gap: 32px;
        .question-wrap {
            width: 650px;
        }
    }
    @include mobile {
        gap: 16px;
        margin-bottom: 60px;
        h3 {
            margin-bottom: 32px;
        }
        .question-wrap {
            width: 334px;
            .problem {
                font-size: $size-x;
                padding: 16px 0 16px 16px;
            }
            .toggle-btn {
                width: 16px;
                height: 16px;
                top: 20px;
                right: 16px;
            }
            .ans {
                font-size: $size-x;
                padding: 0 0 16px 16px;
            }
        }
    }
}