// color
$color-primary:#56C4C5;
$color-second: #FFD153;
$color-gray:#747474;
$color-black: #221E1F;
$color-red: #FF5D50;
$color-white: #FFFFFF;
// size
$size-xx: 14px;
$size-x: 16px;
$size-s: 18px;
$size-m: 20px;
$size-l: 22px;
$size-xl: 24px;
$size-xxl: 28px;
$size-b: 32px;