/* ---------------- top ---------------- */

.top {
    top: 60vh;
    right: 10%;
    position: fixed;
    z-index: 99;
    cursor: pointer;
}


/* ---------------- ball ---------------- */

.ball {
    position: absolute;
    top: 589px;
    left: -223px;
    z-index: -1;
}


/* ---------------- header ---------------- */

header {
    width: 100%;
    padding: 24px 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 218.06px;
    height: 40px;
}


/* ---------------- banner ---------------- */

.banner {
    max-width: var(--desktop-width);
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    justify-content: space-between;
}

.banner .bg-home {
    width: 62%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.banner .slogan-container {
    width: 451px;
    height: 219px;
    text-align: left;
    margin: auto 0;
}

.banner h1 {
    font-size: var(--size-s);
    color: var(--primary-color);
    margin-bottom: 8px;
    font-weight: bold;
}

.banner h2 {
    font-size: 48px;
    font-weight: bold;
}

.banner h3 {
    font-size: var(--size-m);
    margin-top: 16px;
}

.banner .person {
    width: 48.7%;
    height: 534px;
}

.banner .bg-home-sm {
    display: none;
}

@media (max-width: 767px) {
    /* ---------------- top ---------------- */
    .top {
        top: 80vh;
        width: 50px;
        height: 50px;
        right: 5%;
    }
    /* ---------------- ball ---------------- */
    .ball {
        height: 126px;
        top: 739px;
        left: -77px;
    }
    /* ---------------- header ---------------- */
    header {
        padding: 24px 5%;
        border-bottom: 2px solid var(--second-color);
    }
    header img {
        width: 130.84px;
        height: 24px;
    }
    /* ---------------- banner ---------------- */
    .banner {
        max-width: var(--mobile-width);
        flex-direction: column;
        position: relative;
    }
    .banner .bg-home {
        display: none;
    }
    .banner .slogan-container {
        width: 100%;
        height: auto;
    }
    .banner h1,
    h3 {
        font-size: var(--size-x);
    }
    .banner h2 {
        font-size: var(--size-b);
    }
    .banner .person {
        width: 90%;
        height: 305.5px;
        margin: auto;
        margin-top: 32px;
    }
    .banner .bg-home-sm {
        display: block;
        position: absolute;
        z-index: -1;
        top: 50%;
        margin-top: 32px;
    }
}