/* ---------------- top ---------------- */

.top {
    top: 60vh;
    right: 10%;
    position: fixed;
    z-index: 99;
    cursor: pointer;
}


/* ---------------- ball ---------------- */

.ball01 {
    position: absolute;
    top: 589px;
    left: -223px;
    z-index: -1;
}


/* ---------------- header ---------------- */

header {
    width: 100%;
    padding: 24px 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 218.06px;
    height: 40px;
}


/* ---------------- banner ---------------- */

.banner {
    max-width: var(--desktop-width);
    display: flex;
    flex-direction: row;
    margin: 30px auto 217px;
    justify-content: space-between;
}

.banner .bg-home {
    width: 62%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.banner .slogan-container {
    width: 451px;
    height: 219px;
    text-align: left;
    margin: auto 0;
}

.banner h1 {
    font-size: var(--size-s);
    color: var(--primary-color);
    margin-bottom: 8px;
    font-weight: bold;
}

.banner h2 {
    font-size: 48px;
    font-weight: bold;
}

.banner h3 {
    font-size: var(--size-m);
    margin-top: 16px;
}

.banner .person {
    width: 48.7%;
    height: 534px;
}

.banner .bg-home-sm {
    display: none;
}


/* ---------------- platform-container ---------------- */

.platform-container {
    max-width: var(--desktop-width);
    margin: 0 auto 100px;
    text-align: center;
}

.platform-container h3 {
    font-size: var(--size-b);
    font-weight: bold;
    margin-bottom: 48px;
}

.platform-container .platforms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.platforms .item {
    display: flex;
    width: 33.3%;
    flex-direction: column;
    align-items: center;
}

.platforms .item:nth-child(2) {
    margin: 0 126px;
}

.platforms .item img {
    width: 90px;
    height: 90px;
}

.platforms .item h4 {
    font-size: var(--size-xl);
    font-weight: bold;
    margin: 24px 0;
}

.platforms .item p {
    color: var(--gray-color);
    font-size: var(--size-x);
}


/* ---------------- ball-wrap ---------------- */

.ball-wrap {
    background-size: 310px;
    background-image: url("../public/ball02.svg");
    background-repeat: no-repeat;
    background-position: bottom 0 right -100px;
}


/* ---------------- char-container ---------------- */

.char-container {
    max-width: var(--desktop-width);
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    text-align: center;
}

.char-container h3 {
    font-weight: bold;
    font-size: var(--size-b);
}

.char-container h4 {
    font-size: var(--size-m);
    margin: 16px auto 48px;
}

.char-container .char-wrap {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.char-wrap .card {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    background: white;
}

.char-wrap .card img {
    border-radius: 12px 12px 0 0;
}

.char-wrap .card h5 {
    color: var(--primary-color);
    font-size: var(--size-x);
    font-weight: bold;
    margin-top: 16px;
}

.char-wrap .card span {
    font-size: var(--size-x);
    margin: 16px 16px 24px;
}

@media (max-width: 767px) {
    /* ---------------- top ---------------- */
    .top {
        top: 80vh;
        width: 50px;
        height: 50px;
        right: 5%;
    }
    /* ---------------- ball ---------------- */
    .ball01 {
        height: 126px;
        top: 739px;
        left: -77px;
    }
    /* ---------------- header ---------------- */
    header {
        padding: 24px 5%;
        border-bottom: 2px solid var(--second-color);
    }
    header img {
        width: 130.84px;
        height: 24px;
    }
    /* ---------------- banner ---------------- */
    .banner {
        max-width: var(--mobile-width);
        flex-direction: column;
        position: relative;
    }
    .banner .bg-home {
        display: none;
    }
    .banner .slogan-container {
        width: 100%;
        height: auto;
    }
    .banner h1,
    h3 {
        font-size: var(--size-x);
    }
    .banner h2 {
        font-size: var(--size-b);
    }
    .banner .person {
        width: 90%;
        height: 305.5px;
        margin: auto;
        margin-top: 32px;
    }
    .banner .bg-home-sm {
        display: block;
        position: absolute;
        z-index: -1;
        top: 50%;
        margin-top: 32px;
    }
    /* ---------------- platform-container ---------------- */
    .platform-container {
        max-width: var(--mobile-width);
        margin: 92px auto 36px;
    }
    .platform-container h3 {
        font-size: var(--size-xxl);
        margin-bottom: 32px;
    }
    .platform-container .platforms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .platforms .item {
        display: flex;
        width: 70%;
    }
    .platforms .item:nth-child(2) {
        margin: 24px 0;
    }
    .platforms .item img {
        width: 60px;
        height: 60px;
    }
    .platforms .item h4 {
        font-size: var(--size-s);
        margin: 16px 0;
    }
    /* ---------------- ball-wrap ---------------- */
    .ball-wrap {
        background-size: 135px;
        background-position: bottom 10px right -47px;
    }
    /* ---------------- char-container ---------------- */
    .char-container {
        max-width: var(--mobile-width);
        margin: 60px auto;
        position: relative;
    }
    .char-container h3 {
        font-size: var(--size-xxl);
    }
    .char-container h4 {
        font-size: var(--size-s);
        margin: 16px auto 32px;
    }
    .char-container .char-wrap {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .char-wrap .card {
        display: flex;
        flex-direction: column;
        width: 85%;
    }
}